<p>Searching in zip: <%= @zip %> </p>
<table>
  <tr>
    <th>Name</th>
    <th>Place ID</th>
    <th></th>
    <th></th>
  </tr>
<% @theaters_array.each do |info| %>
    <tr>
    	<td><%= link_to info[:name], controller: "theaters", action: "show" %></td>
    	<td><%= info[:place_id] %></td>
    </tr>
<% end %>

</table>

<%=  link_to 'Home', root_url %>