<p>Searching in zip: <%= @zip %> </p>
<div>
	<table>
	  <tr>
	    <th>Name</th>
	    <th></th>
	    <th></th>
	  </tr>
	<% @theaters.each do |info| %>
	    <tr>
	    	<td><%= link_to info.name, info %></td>
	    </tr>
	<% end %>

	</table>
</div>

<%=  link_to 'Home', root_url %>